::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d1c4b6;
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #52525b;
}
