::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #eae7e2;
}
::-webkit-scrollbar-thumb {
  background: #8b6b4e;
  border-radius: 4px;
}

.serif-italic {
  font-family: "Playfair Display", serif;
  font-style: italic;
}
